<template>
    <div class=" bg-gray-100 py-10">
        <div class="mx-auto max-w-7xl shadow p-5 bg-white rounded-lg">
            <h1 class="flex text-2xl font-bold mb-6 justify-center">Tambah Form</h1>
    
            <form @submit.prevent="submitForm" class="form">
                <div class="mb-4">
                    <label for="goal" class="block text-gray-700 font-bold mb-2">Topik</label>
                    <input type="text" placeholder="contoh: seminar/interview" id="goal" v-model="form.goal" class="form-input border border-gray-300 rounded p-2 mt-1 block w-full"/>
                    <div class="flex w-64 mt-2 justify-between items-center">
                        <h2>Ambil dari kontak?</h2>
                        <div :class="toggleValue ? 'flex items-center bg-green-500 rounded-full w-14 h-18 p-1 cursor-pointer' : 'flex items-center bg-gray-300 rounded-full w-14 h-18 p-1 cursor-pointer'"
                            @click="toggle"
                        >
                            <div :class="!toggleValue ? 'h-6 w-6 rounded-full shadow-md transform bg-white' : 'h-6 w-6 rounded-full shadow-md transform bg-white translate-x-6' "
                            ></div>
                        </div>
                    </div>
                </div>
                
                <div class="relative">
                    <label for="role" class="block text-gray-700 font-bold mb-2">Kontak</label>
                    <input type="text" v-model="inputValue" @input="onInput" class="border border-gray-300 py-2 px-4 rounded-lg w-full mb-4" :disabled="!toggleValue"/>
                        <ul v-if="showSuggestions" class="absolute z-10 w-full bg-white border border-gray-300 rounded-lg">
                            <li v-for="(suggestion, index) in suggestions" :key="index" @click="selectSuggestion(suggestion)" class="cursor-pointer py-2 px-4 hover:bg-gray-100">{{ suggestion }}</li>
                        </ul>
                    <button v-if="selectedSuggestion" @click="clearSelectedSuggestion" class="absolute top-0 right-0 mt-2 mr-2 text-gray-600 hover:text-gray-800">&times;</button>
                </div>
                
                <!-- <div class="mb-4">
                    <div class="flex items-center justify-between mb-2">
                        <label for="kontak" class="block text-gray-700 font-bold">Import Kontak</label>
                        <div @click="$emit('close')" class="p-2 bg-orange-200 border border-orange-300 rounded hover:bg-orange-300 cursor-pointer">Download Format</div>
                    </div>
                    <input type="text" id="kontak" v-model="form.kontak" class="form-input border border-gray-300 rounded p-2 mt-1 block w-full" required/>
                </div> -->

                <div class="mb-4">
                    <label for="target" class="block text-gray-700 font-bold mb-2">Target</label>
                    <div class="flex">
                        <input type="text" id="target" v-model="newTarget" class="form-input border border-gray-300 rounded p-2 flex-1 mr-2"/>
                        <button type="button" @click.prevent="addTarget" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">Add</button>
                    </div>
                    <div class="mt-2 border border-gray-300 rounded p-2">
                        <ul>
                            <li v-for="(target, index) in form.target" :key="index">{{ target }} <button type="button" @click.prevent="removeTarget(index)" class="ml-2 text-red-500">Remove</button></li>
                            <li v-if="form.target < 1">Tambahkan target</li>
                        </ul>
                    </div>
                </div>

                <!-- <div class="mb-4">
                    <label for="channel" class="block text-gray-700 font-bold mb-2">Channel</label>
                    <div class="flex">
                        <input type="text" id="channel" v-model="newChannel" class="form-input border border-gray-300 rounded p-2 flex-1 mr-2"/>
                        <button type="button" @click.prevent="addChannel" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">Add</button>
                    </div>
                    <div class="mt-2 border border-gray-300 rounded p-2">
                        <ul>
                            <li v-for="(channel, index) in form.channel" :key="index">{{ channel }} <button type="button" @click.prevent="removeChannel(index)" class="ml-2 text-red-500">Remove</button></li>
                            <li v-if="form.channel < 1">Tambahkan channel</li>
                        </ul>
                    </div>
                </div> -->

                <!-- <div class="mb-4">
                    <label for="role" class="block text-gray-700 font-bold mb-2">Karakteristik AI</label>
                    <input type="text" id="role" v-model="form.role" class="form-input border border-gray-300 rounded p-2 mt-1 block w-full" required/>
                </div> -->
        
                <div class="mb-4">
                    <label for="language" class="block text-gray-700 font-bold mb-2">Bahasa</label>
                    <select id="language" v-model="form.language" class="form-select border border-gray-300 rounded p-2 mt-1 block w-full">
                        <option value="en">English</option>
                        <option value="id">Bahasa Indonesia</option>
                        <option value="es">Spanish</option>
                        <option value="ms">Malay</option>
                    </select>
                </div>
        
                <div>
                    <label class="block text-gray-700 font-bold mb-2">Batas akhir form</label>
                    <flat-pickr v-model="dateTime" :config="flatPickrConfig" class="w-full border-gray-300 border rounded py-2 px-3 mb-3"/>
                </div>

                <div class="mb-4">
                    <label for="field" class="block text-gray-700 font-bold mb-2">Data yang dibutuhkan (ex: nama, alamat, nomor hp, dll)</label>
                    <div class="flex">
                        <input type="text" id="field" v-model="newField" class="form-input border border-gray-300 rounded p-2 flex-1 mr-2" />
                        <button type="button" @click.prevent="addField" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">Add</button>
                    </div>
                    <div class="mt-2 border border-gray-300 rounded p-2">
                        <ul>
                            <li v-for="(field, index) in form.field" :key="index">{{ field }} <button type="button" @click.prevent="removeField(index)" class="ml-2 text-red-500">Remove</button></li>
                            <li v-if="form.field < 1">Tambahkan data yang dibutuhkan</li>
                        </ul>
                    </div>
                </div>

                <div class="flex justify-end">
                    <div class="flex w-72 justify-between">
                        <router-link to="/form" class="bg-red-300 rounded border border-red-400 hover:bg-red-400 w-32 py-2 flex justify-center">Batal</router-link>
                        <button type="submit" class="bg-blue-300 border border-blue-400 rounded hover:bg-blue-400 w-32 py-2">
                            <!-- <router-link to="/form">Buat Form</router-link> -->
                            Buat Form
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
  
<script>
    import axios from 'axios'
    import FlatPickr from 'vue-flatpickr-component'
    import 'flatpickr/dist/flatpickr.css'

    export default {
        name: 'AddForm',
        components: {
            FlatPickr
        },
        data() {
            return {
                toggleValue: false,
                form: {
                    goal: '',
                    role: '',
                    field: [],
                    target: [],
                    kontak: [],
                    channel: [],
                    language: 'en',
                    date: ''
                },
                newTarget: '',
                newChannel: '',
                newField: '',
                selectedDatetime: '',
                dateTime: '',
                flatPickrConfig: {
                    enableTime: true,
                    dateFormat: 'Y/m/d H:i',
                    placeholder: 'Select date and time'
                },
                inputValue: '',
                suggestions: [],
                selectedSuggestion: null,
                showSuggestions: false,

            }
        },
        methods: {
            fetchData(id){
                axios.get(`https://jsonplaceholder.typicode.com/users/${id}`)
                .then(response => {
                    this.dataDetail = response.data;
                })
                .catch(error => {
                    console.log(error);
                });
            },
            toggle(){
                if(!this.toggleValue){
                    this.toggleValue = true;
                }else{
                    this.toggleValue = false;
                }
                console.log(this.toggleValue);
            },

            onInput() {
                // Get suggestions based on the current input value
                // and update the suggestions array
                // this.suggestions = getSomeSuggestions(this.inputValue);
                
                // Hide suggestions if the input is empty or the selected suggestion was cleared
                if (!this.inputValue && !this.selectedSuggestion) {
                    this.showSuggestions = false;
                } else {
                    this.showSuggestions = true;
                }
                },
                selectSuggestion(suggestion) {
                    this.inputValue = suggestion;
                    this.selectedSuggestion = suggestion;
                    this.showSuggestions = false;
                },
                clearSelectedSuggestion() {
                    this.inputValue = '';
                    this.selectedSuggestion = null;
                    this.showSuggestions = false;
                },

            addTarget() {
                if (this.newTarget.trim() !== '') {
                    this.form.target.push(this.newTarget.trim())
                    this.newTarget = ''
                }
            },

            addChannel() {
                if (this.newChannel.trim() !== '') {
                    this.form.channel.push(this.newChannel.trim())
                    this.newChannel = ''
                }
            },
            
            addField() {
                if (this.newField.trim() !== '') {
                    this.form.field.push(this.newField.trim())
                    this.newField = ''
                }
            },

            removeTarget(index) {
                this.form.target.splice(index, 1)
            },

            removeChannel(index){
                this.form.channel.splice(index, 1)
            },

            removeField(index) {
                this.form.field.splice(index, 1)
            },
                
            submitForm() {
                // Submit the form data to an API endpoint
                // using Axios or other HTTP client library
                // axios.post('https://backend-interview-bot.vercel.app/api/v1/forms',{
                //     goal: this.form.goal,
                //     fields: this.form.field,
                //     targets: this.form.target,
                // })
                // .then(response => {
                //     console.log(response)
                // })
                // .catch(error => {
                //     console.log(error);
                // });

                if (this.form.goal === '' || this.form.field.length === 0 || this.form.target.length === 0) {
                    if(this.form.goal === ''){
                        alert('Goal tidak boleh kosong')
                    }else if(this.form.target.length === 0){
                        alert('Target tidak boleh kosong')
                    }else {
                        alert('Data yang dibutuhkan tidak boleh kosong')
                    }
                } else {
                    // Show error message
                    // this.$router.push('/form')
                }
                console.log(this.form)
            },
        }
    }
</script>
