<template>
    <div class="min-h-screen bg-white px-28 py-5">
        <div class="flex justify-between w-40 mb-4">
            <h1 class="text-lg pr-1/2">Form</h1>
            <h1 class="text-lg font-bold">> Response</h1>
        </div>
        <table class="table-auto w-full">
            <thead>
                <tr>
                    <th class="border w-10 px-4 py-2">No</th>
                    <th class="border px-4 py-2">Response</th>
                    <th class="border w-24 px-4 py-2">gatau</th>
                    <th class="border w-24 px-4 py-2">gatau</th>
                    <th class="border w-24 px-4 py-2">gatau</th>
                </tr>
            </thead>
            <tbody>
            <tr v-for="(target, index) in targets" :key="index">
                <td class="border px-4 py-2">{{ target.id }}</td>
                <td class="border px-4 py-2">{{ target.nama }}</td>
                <td class="border px-4 py-2">{{ target.jumlah }}</td>
                <td class="border px-4 py-2">{{ target.channel }}</td>
                <td class="border px-4 py-2">{{ target.channel }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: 'BotResponse',
        data(){
            return {
                targets: [
                    { id: 1, nama: 'Target 1', jumlah: 10, channel: 'Instagram' },
                    { id: 2, nama: 'Target 2', jumlah: 20, channel: 'Facebook' },
                    { id: 3, nama: 'Target 3', jumlah: 30, channel: 'Twitter' },
                    { id: 4, nama: 'Target 4', jumlah: 40, channel: 'LinkedIn' },
                ],
            }
        }
    }
</script>