<template>
    <div v-if="product" class=" bg-gray-100 py-10">
        <div class="mx-auto max-w-md shadow p-5 bg-white rounded-lg">
            <h1 class="text-2xl font-bold mb-4">Form interviewer <span v-if="product.name">{{ product.name }}</span></h1>
    
            <form @submit.prevent="submitForm" class="form">
                <div class="mb-4">
                    <label for="goal" class="block text-gray-700 font-bold mb-2">Goal:</label>
                    <input type="text" id="goal" v-model="form.goal" class="form-input border border-gray-300 rounded p-2 mt-1 block w-full" :required="!isRunning" :disabled="isRunning"/>
                </div>

                <div class="mb-4">
                    <label for="role" class="block text-gray-700 font-bold mb-2">Bot Role:</label>
                    <input type="text" id="role" v-model="form.role" class="form-input border border-gray-300 rounded p-2 mt-1 block w-full" :required="!isRunning" :disabled="isRunning"/>
                </div>

                <div class="mb-4">
                    <label for="field" class="block text-gray-700 font-bold mb-2">Field:</label>
                    <div class="flex">
                        <input type="text" id="field" v-model="newField" class="form-input border border-gray-300 rounded p-2 flex-1 mr-2" :disabled="isRunning"/>
                        <button v-if="!isRunning" type="button" @click.prevent="addField" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">Add</button>
                        <button v-else type="button" @click.prevent="addField" class="bg-gray-500 text-white py-2 px-4 rounded">Add</button>
                    </div>
                    <div class="mt-2 border border-gray-300 rounded p-2">
                        <ul>
                            <li v-for="(field, index) in form.field" :key="index">
                                {{ field }} 
                                <button v-if="!isRunning" type="button" @click.prevent="removeField(index)" class="ml-2 text-red-500">Remove</button>
                                <button v-else type="button" @click.prevent="removeField(index)" class="ml-2 text-grey-500" disabled>Remove</button>
                            </li>
                            <li v-if="form.field < 1">Add some field</li>
                        </ul>
                    </div>
                </div>
        
                <div class="mb-4">
                    <label for="target" class="block text-gray-700 font-bold mb-2">Target:</label>
                    <div class="flex">
                        <input type="text" id="target" v-model="newTarget" class="form-input border border-gray-300 rounded p-2 flex-1 mr-2" :disabled="isRunning"/>
                        <button v-if="!isRunning" type="button" @click.prevent="addTarget" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">Add</button>
                        <button v-else type="button" @click.prevent="addTarget" class="bg-gray-500 text-white py-2 px-4 rounded">Add</button>
                    </div>
                    <div class="mt-2 border border-gray-300 rounded p-2">
                        <ul>
                            <li v-for="(target, index) in form.target" :key="index">
                                {{ target }} 
                                <button v-if="!isRunning" type="button" @click.prevent="removeTarget(index)" class="ml-2 text-red-500">Remove</button>
                                <button v-else type="button" @click.prevent="removeTarget(index)" class="ml-2 text-gray-500" disabled>Remove</button>
                            </li>
                            <li v-if="form.target < 1">Add some target</li>
                        </ul>
                    </div>
                </div>
        
                <div class="mb-4">
                    <label for="language" class="block text-gray-700 font-bold mb-2">Language:</label>
                    <select id="language" v-model="form.language" class="form-select border border-gray-300 rounded p-2 mt-1 block w-full h-11" :disabled="isRunning">
                        <option value="en">English</option>
                        <option value="id">Bahasa Indonesia</option>
                        <option value="es">Spanish</option>
                        <option value="ms">Malay</option>
                    </select>
                </div>
        
                <div>
                    <label class="block text-gray-700 font-bold mb-2">Response time until:</label>
                    <flat-pickr v-model="dateTime" :config="flatPickrConfig" class="w-full border-gray-300 border rounded py-2 px-3 mb-3" :disabled="isRunning"/>
                </div>

                
                <button v-if="isRunning" type="submit" class="bg-red-500 text-white py-2 px-4 mt-4 rounded hover:bg-red-600 w-20">Stop</button>
                <button v-else type="submit" class="bg-blue-500 text-white py-2 px-4 mt-4 rounded hover:bg-blue-600 w-20">Run</button>
                

            </form>
        </div>
    </div>
    <div v-else class="flex text-center items-center justify-center min-h-screen">
        Loading...
    </div>
</template>
  
<script>
    import FlatPickr from 'vue-flatpickr-component'
    import 'flatpickr/dist/flatpickr.css'

    import axios from 'axios';

    export default {

        name: 'DetailForm',
        components: {
            FlatPickr
        },
        props: {
            id: {
                type: String,
                required: true
            }
        },
        data() {
            return {
                product: null,
                form: {
                    goal: '',
                    role: '',
                    field: [],
                    target: [],
                    language: 'en',
                    date: ''
                },
                newTarget: '',
                newField: '',
                selectedDatetime: '',
                dateTime: '',
                flatPickrConfig: {
                    enableTime: true,
                    dateFormat: 'Y/m/d H:i',
                    placeholder: 'Select date and time'
                },
                isRunning: false
            }
        },
        created(){
            this.fetchProduct(this.id)
        },
        methods: {
            async fetchProduct(id){
                let url = "https://apis.ruang-ekspresi.id/fipex";
                try {
                    const response = await axios.get(`${url}/products/${id}/detail`)
                    this.product = response.data
                }catch (e){
                    console.log(e)
                }
            },

            addTarget() {
                if (this.newTarget.trim() !== '') {
                    this.form.target.push(this.newTarget.trim())
                    this.newTarget = ''
                }
            },
            
            addField() {
                if (this.newField.trim() !== '') {
                    this.form.field.push(this.newField.trim())
                    this.newField = ''
                }
            },

            removeTarget(index) {
                this.form.target.splice(index, 1)
            },


            removeField(index) {
                this.form.field.splice(index, 1)
            },
                
            submitForm() {
                // Submit the form data to an API endpoint
                // using Axios or other HTTP client library
                if(this.isRunning){
                    this.isRunning = false;
                }else{
                    this.isRunning = true;
                }
                console.log(this.form)
            },
        },
    }
</script>


  