<template>
  <div class="w-full px-20 pt-10 pb-24 justify-center">
    <div class="bg-white shadow overflow-hidden sm:rounded-md overflow-x-auto">
      <div class="px-4 py-5 sm:px-6 flex justify-between">
        <form @submit.prevent="submitForm">
          <div class="relative my-5">
              <input
                  class="block w-full py-2 pl-10 pr-4 leading-5 text-gray-900 placeholder-gray-500 bg-white border border-gray-300 rounded-md shadow-sm transition duration-150 ease-in-out focus:outline-none focus:shadow-outline-blue focus:border-blue-300 sm:text-sm sm:leading-5"
                  type="text"
                  placeholder="Search"
                  v-model="query"
              />
              <div class="absolute inset-y-0 left-0 flex items-center px-3">
                  <button><Icon icon="ion:search"/></button>
              </div>
          </div>
        </form>
        <div class="flex items-center">
          <button class="bg-blue-600 hover:bg-blue-500 border  py-2 px-4 rounded text-white shadow" @click="showAddModal">Tambah Group Contact</button>
        </div>
      </div>
      <div class="bg-white overflow-hidden shadow rounded-lg m-2">
        <div class="flex flex-col">
          <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
              <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200">
                  <thead class="bg-gray-50">
                    <tr>
                      <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Group Contact
                      </th>
                      <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Total Target
                      </th>
                      <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Channel
                      </th>
                      <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Action
                      </th>
                    </tr>
                  </thead>
                  <tbody class="bg-white divide-y divide-gray-200">
                    <tr v-for="(item, index) in displayedData" :key="index">
                      <td class="px-6 py-4 whitespace-nowrap w-1/2">
                        <div class="text-sm font-medium text-gray-900">
                          {{ item.goal }}
                        </div>
                      </td>
                      <td class="px-6 py-4 whitespace-normal text-center">
                        <div class="text-sm text-gray-500">
                          <!-- <p v-for="target in item.targets" :key="target.id">{{ target }},&nbsp;</p> -->
                          {{ item.targets.length }}
                        </div>
                      </td>
                      
                      <td class="px-6 py-4 whitespace-normal w-2/12 text-start text-sm font-medium">
                        <div class="text-sm text-gray-500">{{  }}</div>
                      </td>

                      <td class="px-6 py-4 whitespace-normal text-sm font-medium">
                        <div class="flex justify-center">
                          <router-link :to="{name: 'ContactDetail', params: {id: item._id}}" href="#" class="text-blue-600 hover:text-blue-900 px-1">Detail</router-link>
                          <a href="#" class="text-blue-600 hover:text-blue-900 px-1">Edit</a>
                          <a href="#" class="text-red-600 hover:text-red-900 px-1">Remove</a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="flex justify-end mt-4">
      <li class="">
        <button
          :disabled="currentPage === 1"
          @click="currentPage--"
          class="cursor-pointer relative inline-flex items-center rounded-l-md px-2 py-2 h-9 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
        >
          <span class="sr-only">Previous</span>
          <Icon icon="ion:chevron-back"/>
        </button>
      </li>
      <li class="" v-for="page in pages" :key="page">
        <button
          :class="[
            { 'relative z-10 inline-flex items-center bg-blue-600 px-4 py-2 text-sm font-semibold focus:z-20 text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600': page === currentPage, '  hover:bg-gray-100': page !== currentPage }
          ]"
          @click="currentPage = page"
          :disabled="page === currentPage"
          class="relative inline-flex items-center px-4 py-2 text-sm font-semibold ring-1 ring-inset ring-gray-300 "
        >
          {{ page }}{{  }}
        </button>
      </li>
      <div v-if="pages[4]+1 < totalPages">
        <li class="relative inline-flex items-center  px-3 py-2 h-9 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">...</li>
        <li class="relative inline-flex items-center  px-3 py-2 h-9 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">{{ totalPages }}</li>
      </div>
      <li class="">
        <button
          :disabled="currentPage === totalPages"
          @click="currentPage++"
          class="relative inline-flex items-center rounded-r-md px-2 py-2 h-9 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
        >
          <span class="sr-only">Previous</span>
          <Icon icon="ion:chevron-forward"/>
        </button>
      </li>
    </ul>
    <ModalScreen v-if="isShowModal" @close="isShowModal = false" >
      <div class="bg-white min-h-80 px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <h1 class="text-xl font-bold text-center mb-2">{{ add ? 'Tambah Group Kontak' : 'Edit Group Kontak' }}</h1>
        <div class="sm:flex sm:items-start">
          <div class="sm:col-span-4 w-full">
            <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Group Contact</label>
            <div class="mt-2">
              <input id="email" name="email" type="email" autocomplete="email" class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6">
            </div>
            <label for="channel" class="block text-sm font-medium leading-6 text-gray-900 mt-2">Channel</label>
            <input
              class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6"
              type="text"
              placeholder="Select a channel..."
              v-model="searchTerm"
              @input="search"
              @keydown.escape="closeDropdown"
            />

            <div v-if="showDropdown" class="absolute w-3/4 h-40 bg-white rounded-md shadow-lg mt-1 overflow-y-scroll">
              <ul class="py-2">
                <li
                  v-for="(item, index) in filteredItems"
                  :key="index"
                  class="px-4 py-2 cursor-pointer hover:bg-gray-100"
                  @click="selectItem(item)"
                >
                  {{ item }}
                </li>
              </ul>
            </div>

            <div v-if="selectedItems.length > 0" class="mt-2">
              <span
                v-for="(item, index) in selectedItems"
                :key="index"
                class="bg-blue-500 text-white rounded-full px-2 py-1 mr-2 mt-2 inline-block"
              >
                {{ item }}
                <button class="ml-2" @click="removeItem(index)">
                  <Icon icon="ion:close-circle" color="red" class="inline-block w-6 h-6" ></Icon>
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
        <button @click="closeModal" class="inline-flex w-full justify-center rounded-md bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 sm:ml-3 sm:w-auto">Simpan</button>
        <button @click="closeModal" class="mt-3 inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-red-500 sm:mt-0 sm:w-auto">Batal</button>
      </div>
      
    </ModalScreen>
  </div>
</template>

<script>
import axios from 'axios';
import { Icon } from '@iconify/vue'
import ModalScreen from '@/components/ModalScreen.vue';

export default {
  name: 'ContactPage',
  components: {
    Icon, ModalScreen
  },
  data() {
    return {
      data: [],
      responses: [],
      currentPage: 1,
      itemsPerPage: 5,
      isShowModal: false,
      isAdd: false,
      query: '',
      searchTerm: "",
      items: ["Agus Hendrawan", "Maulana Ibrahim", "Kepadamu dulu aku jatuh cinta", "Item 4", "Item 5"],
      showDropdown: false,
      selectedItems: [],
    };
  },
  computed: {
    filteredItems() {
      return this.items.filter((item) =>
        item.toLowerCase().includes(this.searchTerm.toLowerCase()) && !this.selectedItems.includes(item)
      );
    },
    totalPages() {
        return Math.ceil(this.data.length / this.itemsPerPage);
    },
    pages() {
        let pages = [];
        const maxPages = 5; // Limit to 5 pages
        let startPage = 1;
        let endPage = this.totalPages;
        if (this.totalPages > maxPages) {
        const middlePage = Math.floor(maxPages / 2);
        startPage = Math.max(this.currentPage - middlePage, 1);
        endPage = Math.min(startPage + maxPages - 1, this.totalPages);
        if (endPage - startPage < maxPages) {
            startPage = endPage - maxPages + 1;
        }
        }
        for (let i = startPage; i <= endPage; i++) {
        pages.push(i);
        }
        return pages;
    },
    displayedData() {
        let startIndex = (this.currentPage - 1) * this.itemsPerPage;
        let endIndex = startIndex + this.itemsPerPage;
        return this.data.slice(startIndex, endIndex);
    },
  },
  mounted() {
    axios.get('https://backend-interview-bot.vercel.app/api/v1/forms',{
        headers:{
          'Access-Control-Allow-Origin': 'http://localhost:8080',
        }
      })
        .then(response => {
          this.data = response.data;
          this.responses = response.data.flatMap(item => item.responses);
          this.tableTitle.target = response.data.flatMap(item => item.responses);
          this.tableTitle.channel =response.data.flatMap(item => item.responses).channel;
        })
        .catch(error => {
          console.log(error);
        });
  },
  methods:{
    print(value){
      console.log(value)
    },


    showAddModal(){
      this.isShowModal = true;
      this.isAdd = true;
    },
    showEditModal(){
      this.isShowModal = true;
      this.isAdd = false;
    },
    closeModal(){
      this.$emit('close');
      this.isShowModal = false;
    },

    submitForm(){
      this.$emit("search", this.query)
    },

    search() {
      this.showDropdown = true;
    },
    closeDropdown() {
      this.showDropdown = false;
    },
    selectItem(item) {
      this.selectedItems.push(item);
      this.showDropdown = false;
      this.searchTerm = "";
    },
    removeItem(index) {
      this.selectedItems.splice(index, 1);
    },
  }
};
</script>

<style scoped>
/* Optional styles for the selected item tag */
/* span {
  width: auto;
  display: inline-block;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
} */
</style>
