<template>
    <div class="px-28">
        <!-- <div class="flex justify-between w-full">
            <div class="relative my-5 w-52">
                <input
                    class="p-2 rounded border border-gray-300 focus:outline-none focus:border-indigo-500"
                    type="text"
                    placeholder="Search"
                />
                <div class="absolute inset-y-0 right-0 flex items-center pl-3">
                    <button><Icon icon="ion:search"/></button>
                </div>
            </div>
            <div class="flex items-center">
                <button class="bg-blue-300 hover:bg-blue-400 border border-blue-400  py-2 px-4 rounded" @click="isShowModal = true">Tambah Group Contact</button>
            </div>
        </div> -->
        <!-- <table class="table-auto w-full">
            <thead>
                <tr>
                    <th class="border px-4 py-2">Nama Target</th>
                    <th class="border px-4 py-2">Jumlah Target</th>
                    <th class="border px-4 py-2">Channel</th>
                    <th class="border px-4 py-2">Aksi</th>
                </tr>
            </thead>
            <tbody>
            <tr v-for="(product, index) in products.slice(0, 5)" :key="index">
                <td class="border px-4 py-2">{{ product.nama }}</td>
                <td class="border px-4 py-2">{{ product.jumlah }}</td>
                <td class="border px-4 py-2">{{ product.channel }}</td>
                <td class="border px-4 py-2 w-72">
                    <div class="flex justify-between">
                        <router-link :to="{name: 'ContactDetail', params: {id: product.id}}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                            Detail
                        </router-link>
                        <button @click="showEdit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                            Edit
                        </button>
                        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                            Hapus
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table> -->

        <Buatnanti v-if="!isDetailContact" :endpoint="'https://jsonplaceholder.typicode.com/users'"/>
    </div>
</template>
  
<script>
    import Buatnanti from './ContactPage.vue';
    // import DetailContact from '../detail-screen/detailfix.vue';

    export default {
        name: "ContactGroup",
        components: {
            Buatnanti
        },
        data() {
            return {
                isDetailContact: false
            };
        },
    };
</script>
  