<template>
  <div class="flex flex-wrap min-h-screen w-full bg-gray-100">
    <div 
      v-for="(data, index) in displayedData" :key="index"
      class="bg-white w-72 h-auto m-4 rounded-xl shadow-xl overflow-hidden" 
    >
      <div class="flex text-white text-lg font-bold bg-red-400 h-10 w-full rounded-t-xl items-center justify-center uppercase">
        {{ data.goal }}
      </div>
      <!-- to="/bot-response" -->
      <router-link 
        :to="{name: 'FormDetail', params: {id: data._id}}"
        class="flex flex-col w-auto h-full rounded-b-xl p-4 justify-between"
      >
        <div class="flex justify-between">
          <h3 class="text-lg font-bold">Field:</h3>
          <div class="w-40 overflow-hidden flex flex-wrap justify-end">
            <p v-for="field in data.fields" :key="field.id" class="text-end">{{ field }},&nbsp;</p>
          </div>
        </div>

        <div class="flex justify-between">
          <h3 class="text-lg font-bold">Target:</h3>
          <div class="w-40 overflow-hidden flex flex-wrap justify-end">
            <p v-for="target in data.targets" :key="target.id" class="text-end">{{ target }},&nbsp;</p>
          </div>
        </div>
        <!-- <div class="flex justify-between">
          <h3 class="text-lg font-bold">Channel:</h3>
          <div class="w-40 overflow-hidden flex flex-wrap justify-end">
            <p v-for="item in data.responses" :key="item.id" class="text-end">{{ item.channel }}</p>
          </div>
        </div> -->

        <div class="flex justify-between">
          <h3 class="text-lg font-bold">Success:</h3>
          <h3>{{ data.responses.filter((item) => item.status === 'complete').length }}</h3>
        </div>

        <div class="flex justify-between">
          <h3 class="text-lg font-bold">Running:</h3>
          <h3>{{ data.responses.filter((item) => item.status === 'running').length }}</h3>
        </div>

        <div class="flex justify-between">
          <h3 class="text-lg font-bold">Failed:</h3>
          <h3>{{ data.responses.filter((item) => item.status === 'failed').length }}</h3>
        </div>

        <div class="flex justify-between">
          <h3 class="text-lg font-bold">Pending:</h3>
          <h3>{{ data.responses.filter((item) => item.status === 'pending').length }}</h3>
        </div>
      </router-link>
    </div>

    <router-link
    to="/add-form"
    class="flex bg-red-400 w-72 m-4 h-80 rounded-xl shadow overflow-hidden text-center items-center"
    >
      <Icon 
        class="w-full h-24"
        icon="ion:add-circle-outline"
        color="#fff"
      />
    </router-link>
  </div>
</template>
  
  <script>
  import axios from 'axios';
  import { Icon } from '@iconify/vue';

  export default {
    name: 'DashboardPage',
    components: {
      Icon
    },
    params:{
      id: {
        type: String,
      }
    },
    data(){
      return {
        data: [],
        responses: [], 
        complete: 0,
        running: 0,
        failed: 0,
        pending: 0
      }
    },
    props:{
      value: {
        type: String
      },
      item: {
        type: String
      }
    },
    mounted(){
      axios.get('https://backend-interview-bot.vercel.app/api/v1/forms',{
        headers:{
          'Access-Control-Allow-Origin': 'http://localhost:8080',
        }
      })
        .then(response => {
          this.data = response.data;
          this.responses = response.data.flatMap(item => item.responses);
          this.complete = response.data.flatMap(item => item.responses).filter((item) => item.status === 'complete').length;
          this.running = response.data.flatMap(item => item.responses).filter((item) => item.status === 'running').length;
          this.failed = response.data.flatMap(item => item.responses).filter((item) => item.status === 'failed').length;
          this.pending = response.data.flatMap(item => item.responses).filter((item) => item.status === 'pending').length;
        })
        .catch(error => {
          console.log(error);
        });
        
    },
    computed: {
      displayedData(){
        return this.data.slice(0, 5);
      },
      getStatusLength: function(){
        return function(item){
          return item.status;
        }
      }
    },
    methods: {
      print(value){
        console.log(value)
      },

      getFlatResponses(item) {
        return item.flatMap(response => response);
      },

      goToPage(){
        this.$router.push(this.to)
      }
    },
  };
  </script>

  