<template>
  <div class="px-28 mt-5">
      <div class="flex justify-between w-full">
          <div class="relative my-5 w-52">
              <input
                  class="p-2 rounded border border-gray-300 focus:outline-none focus:border-indigo-500"
                  type="text"
                  placeholder="Search"
              />
              <div class="absolute inset-y-0 right-0 flex items-center pl-3">
                  <span class="iconify text-gray-400" data-icon="heroicons-solid:search-circle"></span>
                  <button><Icon icon="ion:search"/></button>
              </div>
          </div>
          <router-link to="/form" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded h-10 my-5">
              Tambah Form
          </router-link>
      </div>
      <table class="table-auto w-full">
          <thead>
              <tr>
                  <th class="border px-4 py-2">Topik</th>
                  <th class="border px-4 py-2">Grup Kontak</th>
                  <th class="border px-4 py-2">Jumlah kontak</th>
                  <th class="border px-4 py-2">Expired</th>
                  <th class="border px-4 py-2">Status</th>
                  <th class="border px-4 py-2">Aksi</th>
              </tr>
          </thead>
          <tbody>
          <tr v-for="(product, index) in products" :key="index">
              <td class="border px-4 py-2">{{ product.topik }}</td>
              <td class="border px-4 py-2">{{ product.groupKontak }}</td>
              <td class="border px-4 py-2">{{ product.jumlahKontak }}</td>
              <td class="border px-4 py-2">{{ product.expired }}</td>
              <td class="border px-4 py-2">{{ product.status }}</td>
              <td class="border px-4 py-2 w-72">
                  <div class="flex justify-between">
                      <router-link :to="{name: 'FormDetail', params: {id: product.id}}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                          Detail
                      </router-link>
                      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                          Edit
                      </button>
                      <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                          Hapus
                      </button>
                  </div>
              </td>
          </tr>
          </tbody>
      </table>

      <ModalPage v-if="showModal" @close="showModal = false">
          <!-- Your modal content goes here -->
          <h2 class="text-lg font-bold mb-4">Modal Title</h2>
          <p>Modal body text goes here.</p>

          <button @click="$emit('close')">Close Modal</button>
      </ModalPage>

      <PaginationProps :current-page="currentPage" :total-items="totalItems" @page-changed="onPageChanged"/>
  </div>
</template>

<script>
  import axios from 'axios';
  import { ref, onMounted } from 'vue';
  import { Icon } from '@iconify/vue'
  import PaginationProps from '../../components/Pagination.vue'
  import ModalPage from '../../components/ModalScreen.vue'

  export default {
      name: "ContactGroup",
      components: {
          Icon,
          PaginationProps,
          ModalPage
      },
      data() {
          return {
            showModal: false,
            currentPage: 1,
            totalItems: 5,
            forms: [
                { id: 1, topik: 'Topik 1', groupKontak: "Seminar 1", jumlahKontak: '1500', expired: "2023/03/25", status: "Done" },
                { id: 2, topik: 'Topik 2', groupKontak: "Interview 1", jumlahKontak: '982', expired: "2023/03/26", status: "Running" },
                { id: 3, topik: 'Topik 3', groupKontak: "Seminar 2", jumlahKontak: '1022', expired: "2023/03/27", status: "Ready" },
                { id: 4, topik: 'Topik 4', groupKontak: "Interview 2", jumlahKontak: '1200', expired: "2023/03/28", status: "Ready" },
            ],
          };
      },
      setup() {
        const isEmpty = 0;

        let url = "https://apis.ruang-ekspresi.id/fipex";
        let products = ref([]);

        onMounted(() => {
          
          axios.get(`${url}/products`)
          .then((result) => {
            products.value = result.data
          }).catch((e) => {
            console.log(e)
          });
        })

        return {
          isEmpty,
          products,
          url
        }
      },
      methods: {
        goToPage(){
          this.$router.push(this.to)
        },
        onPageChanged(newPage) {
            this.currentPage = newPage;
            console.log(this.showModal)
        },
      },
  };
</script>
