<template>
    <div class="px-28 pt-10 pb-24">
      <div class="flex justify-between">
          <div class="relative my-5">
              <input
                  class="p-2 rounded border border-gray-400 focus:outline-none focus:border-indigo-500"
                  type="text"
                  placeholder="Search"
              />
              <div class="absolute inset-y-0 right-0 flex items-center px-3">
                  <button><Icon icon="ion:search"/></button>
              </div>
          </div>
          <div class="flex items-center">
              <router-link to="/add-form" class="bg-blue-200 hover:bg-blue-300 border border-blue-300  py-2 px-4 rounded">Tambah Form</router-link>
          </div>
      </div>
      <div class="flex flex-col">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
              <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-gray-50">
                  <tr>
                    <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Group Contact
                    </th>
                    <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Total Target
                    </th>
                    <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Channel
                    </th>
                    <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Action
                    </th>
                  </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                  <tr v-for="(item, index) in displayedData" :key="index">
                    <td class="px-6 py-4 whitespace-nowrap">
                      <div class="text-sm font-medium text-gray-900">
                        <!-- <p v-for="target in item.targets" :key="target.id">{{ target }},&nbsp;</p> -->
                        {{ item.name }}
                      </div>
                    </td>
                    <td class="px-6 py-4 whitespace-normal text-start">
                      <div class="text-sm text-gray-500">{{  }}</div>
                    </td>
                    
                    <td class="px-6 py-4 whitespace-normal text-start text-sm font-medium">
                      <div class="text-sm text-gray-500">{{ item.targets }}</div>
                    </td>

                    <td class="px-6 py-4 whitespace-normal text-sm font-medium">
                      <div class="flex justify-start">
                        <a href="#" class="text-blue-600 hover:text-blue-900 px-1">Detail</a>
                        <a href="#" class="text-blue-600 hover:text-blue-900 px-1">Edit</a>
                        <a href="#" class="text-red-600 hover:text-red-900 px-1">Remove</a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <table class="table-auto w-full">
          <thead>
              <tr>
                  <th class="border border-gray-400 px-4 py-2">No</th>
                  <th class="border border-gray-400 px-4 py-2">Topics</th>
                  <th class="border border-gray-400 px-4 py-2">Target</th>
                  <th class="border border-gray-400 px-4 py-2">Total</th>
                  <th class="border border-gray-400 px-4 py-2">Expired</th>
                  <th class="border border-gray-400 px-4 py-2">Status</th>
                  <th class="border border-gray-400 px-4 py-2">Progress</th>
                  <th class="border border-gray-400 px-4 py-2">Aksi</th>
              </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in displayedData" :key="index">
                <td class="border border-gray-400 text-center">{{ index+1 }}</td>
                <td class="border border-gray-400 px-2 uppercase">{{ item.goal }}</td>
                <td class="border border-gray-400 px-2 flex flex-wrap h-20">
                  <p v-for="target in item.targets" :key="target.id">{{ target }},&nbsp;</p>
                </td>
                <td class="border border-gray-400 px-2 text-center">{{ item.targets.length }}</td>
                <td class="border border-gray-400 px-2 text-center">{{ item.created_at }}</td>
                <td class="border border-gray-400 text-center">{{  }}</td>
                <td class="border border-gray-400 text-center">{{  }}</td>
                <td class="border border-gray-400">
                    <div class="flex justify-around">
                        <router-link :to="{name: 'FormDetail', params: {id: item._id}}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold p-2 mr-2 rounded">
                            Detail
                        </router-link>
                        <button @click="showEditModal" class="bg-blue-500 hover:bg-blue-700 text-white font-bold p-2 mr-2 rounded">
                            Edit
                        </button>
                        <button class="bg-red-500 hover:bg-red-700 text-white font-bold p-2 rounded">
                            Hapus
                        </button>
                    </div>
                </td>
            </tr>
          </tbody>
      </table>
  
      <ul class="flex justify-end mt-4">
        <li class="border border-gray-400 rounded-l-lg">
          <button
            :disabled="currentPage === 1"
            @click="currentPage--"
            class="px-4 py-2  hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-300 focus:ring-offset-2"
          >
            Previous
          </button>
        </li>
        <li class="border border-gray-400" v-for="page in pages" :key="page">
          <button
            :class="[
              'px-4 py-2 ',
              { 'bg-blue-500 text-white': page === currentPage, '  hover:bg-gray-100': page !== currentPage }
            ]"
            @click="currentPage = page"
            :disabled="page === currentPage"
            class="focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-offset-2"
          >
            {{ page }}
          </button>
        </li>
        <li class="border border-gray-400 rounded-r-lg">
          <button
            :disabled="currentPage === totalPages"
            @click="currentPage++"
            class="px-4 py-2 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-300 focus:ring-offset-2"
          >
            Next
          </button>
        </li>
      </ul>
      <ModalScreen :show="isShowModal" :add="isAdd ? true : false" @click="closeModal"></ModalScreen>
    </div>
  </template>
  
  <script>
  import axios from 'axios';
  import { Icon } from '@iconify/vue'
  import ModalScreen from '@/components/ModalScreen.vue';
  
  export default {
    name: 'FormPage',
    components: {
      Icon, ModalScreen
    },
    props: {
      endpoint: {
        type: String,
        required: true,
      },
    },
    data() {
      return {
        data: [],
        responses: [],
        name: [],
        currentPage: 1,
        itemsPerPage: 5,
        isShowModal: false,
        isAdd: false
      };
    },
    computed: {
        totalPages() {
            return Math.ceil(this.data.length / this.itemsPerPage);
        },
        pages() {
            let pages = [];
            const maxPages = 5; // Limit to 5 pages
            let startPage = 1;
            let endPage = this.totalPages;
            if (this.totalPages > maxPages) {
            const middlePage = Math.floor(maxPages / 2);
            startPage = Math.max(this.currentPage - middlePage, 1);
            endPage = Math.min(startPage + maxPages - 1, this.totalPages);
            if (endPage - startPage < maxPages) {
                startPage = endPage - maxPages + 1;
            }
            }
            for (let i = startPage; i <= endPage; i++) {
            pages.push(i);
            }
            return pages;
        },
        displayedData() {
            let startIndex = (this.currentPage - 1) * this.itemsPerPage;
            let endIndex = startIndex + this.itemsPerPage;
            return this.data.slice(startIndex, endIndex);
        },
    },

    mounted() {
      axios.get('https://backend-interview-bot.vercel.app/api/v1/forms')
        .then(response => {
          this.data = response.data;
          this.responses = response.data.flatMap(item => item.responses);
        })
        .catch(error => {
          console.log(error);
        });
    },
    methods:{
      print(value){
        console.log(value)
      },
      showAddModal(){
        this.isShowModal = true;
        this.isAdd = true;
      },
      showEditModal(){
        this.isShowModal = true;
        this.isAdd = false;
      },
      closeModal(){
        this.isShowModal = false;
      }
    }
  };
  </script>
  
  <style>
  /* Optional custom styles here */
  </style>
  