<template>
    <div class="flex justify-center items-center h-screen bg-gray-100">
      <div class="bg-white p-10 rounded-lg shadow-lg">
        <h2 class="text-2xl font-bold mb-5">Register</h2>
        <form>
          <div class="mb-5">
            <label for="name" class="block font-semibold mb-1">Name</label>
            <input type="text" id="name" v-model="name" class="border border-gray-300 px-3 py-2 rounded w-full">
          </div>
          <div class="mb-5">
            <label for="email" class="block font-semibold mb-1">Email</label>
            <input type="email" id="email" v-model="email" class="border border-gray-300 px-3 py-2 rounded w-full">
          </div>
          <div class="mb-5">
            <label for="password" class="block font-semibold mb-1">Password</label>
            <input type="password" id="password" v-model="password" class="border border-gray-300 px-3 py-2 rounded w-full">
          </div>
          <div class="mb-5">
            <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">Register</button>
          </div>
        </form>
      </div>
    </div>
  </template>
  
  <script>
  import axios from 'axios';
  
  export default {
    name: 'RegisterPage',
    data() {
      return {
        name: '',
        email: '',
        password: ''
      }
    },
    methods: {
      async register() {
        try {
          const response = await axios.post('/api/register', {
            name: this.name,
            email: this.email,
            password: this.password
          });
          console.log(response);
        } catch (error) {
          console.log(error);
        }
      }
    },
    mounted() {
      console.log('Component mounted.');
    }
  }
  </script>
  