<template>
    <nav class="flex justify-between items-center" aria-label="Pagination">
      <div class="hidden sm:block">
        <p class="text-sm text-gray-700">
          Showing
          <span class="font-medium">{{ start }}</span>
          to
          <span class="font-medium">{{ end }}</span>
          of
          <span class="font-medium">{{ total }}</span>
          results
        </p>
      </div>
      <div class="flex justify-center flex-1 sm:justify-end">
        <span v-if="currentPage > 1">
          <button
            @click="goToPage(currentPage - 1)"
            class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          >
            <span class="sr-only">Previous</span>
            <!-- <Icon icon="ion:chevron-left"/> -->
          </button>
        </span>
        <span v-for="pageNumber in pagesToShow" :key="pageNumber">
          <button
            v-if="pageNumber !== currentPage"
            @click="goToPage(pageNumber)"
            class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          >
            {{ pageNumber }}
          </button>
          <span v-else>
            <button
              class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            >
              {{ pageNumber }}
            </button>
          </span>
        </span>
        <span v-if="currentPage < totalPages">
          <button
            @click="goToPage(currentPage + 1)"
            class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          >
            <span class="sr-only">Next</span>
            <!-- <Icon icon="ion:chevron-right"/> -->
          </button>
        </span>
      </div>
    </nav>
  </template>
  
  <script>
  import { ref, watchEffect } from "vue";
//   import { Icon } from "@iconify/vue";
  
  export default {
    name: "ChildPagination",
    props: {
      currentPage: {
        type: Number,
        required: true,
      },
      totalPages: {
        type: Number,
        required: true,
      },
      totalResults: {
        type: Number,
        required: true,
      },
      resultsPerPage: {
        type: Number,
        required: true,
      },
    },
    components: {
    //   IconifyIcon: Icon,
    },
    setup(props, { emit }) {
      const start = ref(0);
      const end = ref(0);
      const goToPage = (pageNumber) => {
        if (pageNumber >= 1 && pageNumber <= props.totalPages) {
            emit("page-changed", pageNumber);
        }
        };

        watchEffect(() => {
        start.value = (props.currentPage - 1) * props.resultsPerPage + 1;
        end.value = Math.min(
            props.currentPage * props.resultsPerPage,
            props.totalResults
        );
        });

        const pagesToShow = [];
        let minPage = Math.max(props.currentPage - 2, 1);
        let maxPage = Math.min(props.currentPage + 2, props.totalPages);

        if (maxPage - minPage < 4) {
        if (minPage === 1) {
            maxPage = Math.min(maxPage + (4 - (maxPage - minPage)), props.totalPages);
        } else {
            minPage = Math.max(minPage - (4 - (maxPage - minPage)), 1);
        }
        }

        for (let i = minPage; i <= maxPage; i++) {
        pagesToShow.push(i);
        }

        return {
        start,
        end,
        goToPage,
        pagesToShow,
        };
    },
};
</script>

