<template>
    <div class="p-4 bg-white rounded-md shadow-md">
      <form @submit.prevent="submitForm">
        <div class="flex items-center mb-4">
          <label for="search" class="mr-2">Search:</label>
          <input id="search" type="text" v-model="query" class="rounded-lg border-gray-300 focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500 w-full">
          <button type="submit" class="ml-2 bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded">
            Search
          </button>
        </div>
      </form>
    </div>
  </template>
  
  <script>
  export default {
    data() {
      return {
        query: '',
      }
    },
    methods: {
      submitForm() {
        this.$emit('search', this.query)
      }
    }
  }
  </script>
  