<template>
    <div class="flex items-center bg-gray-300 rounded-full w-14 h-18 p-1"
        :class="{'bg-green-500' : value}"
        @click="toggle"
    >
        <div class="h-6 w-6 rounded-full shadow-md transform bg-white"
            :class="{'translate-x-6': value}"
        ></div>
    </div>
</template>

<script>
    export default {
        name: 'ToggleSwitch',
        props: {
            value: {
                type: Boolean,
            }
        },
        methods: {
            toggle(){
                console.log(!this.value);
                this.$emit("update:value", !this.value);
            }
        }
    }
</script>