<template>
  <div class="pt-10 pb-24 px-28">
    <div class="p-5 bg-white rounded-lg shadow-lg">
      <div class="flex flex-col">
        <div class="min-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
              <table class="min-w-full divide-y divide-gray-200">
                <div scope="col" class="px-6 py-3 text-start text-lg font-bold text-white bg-blue-500 uppercase tracking-wider">
                  Informasi Kontak
                </div>
                <div class="px-6 py-3 text-sm bg-white whitespace-normal tracking-wider flex justify-between">
                  <div class="w-1/2 text-base">
                    <div class="flex mb-4">
                      <div class="w-1/2">Judul Target</div>
                      <div class="w-1/6">:</div>
                      <div class="w-1/2">{{  }}</div>
                    </div>
                    <div class="flex mb-4">
                      <div class="w-1/2">Jumlah Target</div>
                      <div class="w-1/6">:</div>
                      <div class="w-1/2">{{  }}</div>
                    </div>
                    <div class="flex mb-4">
                      <div class="w-1/2">Channel</div>
                      <div class="w-1/6">:</div>
                      <div class="w-1/2">{{  }}</div>
                    </div>
                  </div>
                  <div class="w-1/2 text-base">
                    <div class="flex mb-4">
                      <div class="w-1/2">Tervalidasi</div>
                      <div class="w-1/6">:</div>
                      <div class="w-1/2">{{  }}</div>
                    </div>
                    <div class="flex mb-4">
                      <div class="w-1/2">Tidak Valid</div>
                      <div class="w-1/6">:</div>
                      <div class="w-1/2">{{  }}</div>
                    </div>
                    <div @click="" class="flex bg-green-400 border border-green-600 p-2 rounded-md text-white font-bold justify-center max-w-min whitespace-nowrap hover:bg-green-600 cursor-pointer">
                      Validasi target channel
                    </div>
                  </div>
                </div>
              </table>
            </div>
          </div>
        </div>
      </div>
  
      <div class="flex justify-between">
        <form @submit.prevent="submitForm">
          <div class="relative my-5 mx-2">
              <input
                  class="block w-full py-2 pl-10 pr-4 leading-5 text-gray-900 placeholder-gray-500 bg-white border border-gray-300 rounded-md shadow-sm transition duration-150 ease-in-out focus:outline-none focus:shadow-outline-blue focus:border-blue-300 sm:text-sm sm:leading-5"
                  type="text"
                  placeholder="Search"
                  v-model="query"
              />
              <div class="absolute inset-y-0 left-0 flex items-center px-3">
                  <button><Icon icon="ion:search"/></button>
              </div>
          </div>
        </form>
        <div class="flex space justify-between items-center">
            <div @click="showAddModal" class="p-2 min-w-min whitespace-nowrap bg-blue-400 border border-blue-600 rounded hover:bg-blue-500 text-white font-bold cursor-pointer text-center">Tambah Kontak</div>
            <div class="p-2 min-w-min whitespace-nowrap bg-orange-400 border border-orange-600 rounded hover:bg-orange-500 text-white font-bold cursor-pointer text-center">Download Format</div>
            <div class="p-2 min-w-min whitespace-nowrap bg-blue-400 border border-blue-600 rounded hover:bg-blue-500 text-white font-bold cursor-pointer text-center">Import Kontak</div>
        </div>
      </div>
      
      <div class="bg-white overflow-hidden shadow rounded-lg m-2">
        <div class="flex flex-col">
          <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
              <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200">
                  <thead class="bg-gray-50">
                    <tr>
                      <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                        No
                      </th>
                      <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Nomor Kontak Target
                      </th>
                      <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Status
                      </th>
                      <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Action
                      </th>
                    </tr>
                  </thead>
                  <tbody class="bg-white divide-y divide-gray-200">
                    <tr v-for="(item, index) in displayedData" :key="index">
                      <td class="px-6 py-4 whitespace-nowrap">
                        <div class="text-sm text-center font-medium text-gray-900">
                          {{ index }}
                        </div>
                      </td>
                      <td class="px-6 py-4 whitespace-normal text-center">
                        <div class="text-sm text-gray-500">
                          <!-- <p v-for="target in item.targets" :key="target.id">{{ target }},&nbsp;</p> -->
                          {{ item.goal }}
                        </div>
                      </td>
                      
                      <td class="px-6 py-4 whitespace-normal w-2/12 text-start text-sm font-medium">
                        <div class="text-sm text-gray-500">
                          <p v-for="target in item.targets" :key="target.id">{{ target }}</p>
                        </div>
                      </td>
  
                      <td class="px-6 py-4 whitespace-normal text-sm font-medium">
                        <div class="flex justify-center">
                          <div class="text-blue-600 hover:text-blue-900 px-1">Detail</div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
  
        <div>
          <ul class="flex justify-end mt-4">
            <li class="">
              <button
                :disabled="currentPage === 1"
                @click="currentPage--"
                class="cursor-pointer relative inline-flex items-center rounded-l-md px-2 py-2 h-9 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
              >
                <span class="sr-only">Previous</span>
                <Icon icon="ion:chevron-back"/>
              </button>
            </li>
            <li class="" v-for="page in pages" :key="page">
              <button
                :class="[
                  { 'relative z-10 inline-flex items-center bg-blue-600 px-4 py-2 text-sm font-semibold focus:z-20 text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600': page === currentPage, '  hover:bg-gray-100': page !== currentPage }
                ]"
                @click="currentPage = page"
                :disabled="page === currentPage"
                class="relative inline-flex items-center px-4 py-2 text-sm font-semibold ring-1 ring-inset ring-gray-300 "
              >
                {{ page }}{{  }}
              </button>
            </li>
            <div v-if="pages[4]+1 < totalPages">
              <li class="relative inline-flex items-center  px-3 py-2 h-9 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">...</li>
              <li class="relative inline-flex items-center  px-3 py-2 h-9 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">{{ totalPages }}</li>
            </div>
            <li class="">
              <button
                :disabled="currentPage === totalPages"
                @click="currentPage++"
                class="relative inline-flex items-center rounded-r-md px-2 py-2 h-9 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
              >
                <span class="sr-only">Previous</span>
                <Icon icon="ion:chevron-forward"/>
              </button>
            </li>
          </ul>
        </div>
    </div>
      <ModalScreen v-if="isShowModal" />
    </div>
  </template>
  
  <script>
  import axios from 'axios';
  import { Icon } from '@iconify/vue'
  import ModalScreen from '@/components/ModalScreen.vue';
  
  export default {
    name: 'ContactDetail',
    components: {
      Icon,
      ModalScreen
    },
    props: {
        id: {
            type: String,
            required: true
        }
    },
    data() {
      return {
        data: [],
        dataDetail:[],
        responses: [],
        currentPage: 1,
        itemsPerPage: 10,
        isValid: false,
        isShowModal: false,
        isAdd: false,
      };
    },
    computed: {
        totalPages() {
            return Math.ceil(this.data.length / this.itemsPerPage);
        },
        pages() {
            let pages = [];
            const maxPages = 5; // Limit to 5 pages
            let startPage = 1;
            let endPage = this.totalPages;
            if (this.totalPages > maxPages) {
            const middlePage = Math.floor(maxPages / 2);
            startPage = Math.max(this.currentPage - middlePage, 1);
            endPage = Math.min(startPage + maxPages - 1, this.totalPages);
            if (endPage - startPage < maxPages) {
                startPage = endPage - maxPages + 1;
            }
            }
            for (let i = startPage; i <= endPage; i++) {
            pages.push(i);
            }
            return pages;
        },
        displayedData() {
            let startIndex = (this.currentPage - 1) * this.itemsPerPage;
            let endIndex = startIndex + this.itemsPerPage;
            return this.responses.slice(startIndex, endIndex);
        },
    },
    mounted() {
      axios.get('https://backend-interview-bot.vercel.app/api/v1/forms')
        .then(response => {
          this.data = response.data;
          this.responses = response.data.flatMap(item => item.responses);
        })
        .catch(error => {
          console.log(error);
        });
    },
    created(){
        this.fetchData(this.id)
    },
    methods: {
      print(item){
        console.log(item)
      },
        fetchData(id){
            axios.get(`https://backend-interview-bot.vercel.app/api/v1/forms/${id}`)
            .then(response => {
                this.dataDetail = response.data;
            })
            .catch(error => {
                console.log(error);
            });
        },
        showAddModal(){
          this.isShowModal = true;
          this.isAdd = true;
        },
        showEditModal(){
          this.isShowModal = true;
          this.isAdd = true;
        },
        closeEdit(){
            this.isShowModal = false
        }
    }
  };
  </script>
  
  <style>
  /* Optional custom styles here */
  .space{
    width: 600px;
  }
  </style>
  