<template>
    <div v-if="product" class="min-h-screen bg-white py-10 px-24">
        <div class="flex w-full justify-between items-center">
            <div class="flex">
                <h1 class="pr-2 text-lg">Form</h1>
                <h1 class="pr-2 text-lg font-bold">> Detail Contact</h1>
            </div>
            <div  :class="!isValid ? 'w-40 bg-red-200 border border-red-300 text-center rounded' : 'w-40 bg-green-200 border border-green-300 text-center rounded'">
                <h3 class="text-lg font-bold">{{isValid ? "Valid" : "Tidak Valid"}}</h3>
            </div>
        </div>
        
        <div class="border border-gray-600 p-4 my-4">
            <h1 class="text-lg font-bold mb-5">Informasi Kontak</h1>
            <div class="flex px-4 justify-between w-full">
                <div class="space px-2">
                    <div class="flex flex-wrap justify-between mb-4">
                        <h3 class="text-lg">Nama Form</h3>
                        <h3>: {{ product.name }}</h3>
                    </div>
                    <div class="flex flex-wrap justify-between mb-4">
                        <h3 class="text-lg">Jumlah Target Valid</h3>
                        <h3>: {{ product.name }}</h3>
                    </div>
                    <div class="flex flex-wrap justify-between mb-4">
                        <h3 class="text-lg">Channel</h3>
                        <h3>: {{ product.name }}</h3>
                    </div>
                </div>
                <div class="space px-2">
                    <div class="flex flex-wrap justify-between mb-4">
                        <h3 class="text-lg">Status</h3>
                        <h3>: {{ product.name }}</h3>
                    </div>
                    <div class="flex flex-wrap justify-between mb-4">
                        <h3 class="text-lg">Ketercapaian</h3>
                        <h3>: {{ product.name }}</h3>
                    </div>
                    <div @click="isValid = true" class="p-2 w-52 bg-green-200 border border-green-300 rounded hover:bg-green-300 cursor-pointer text-center">Validasi Target Channel</div>
                </div>
            </div>            
        </div>

        <div class="flex justify-between">
            <div class="relative my-5 w-52">
                <input
                    class="p-2 rounded border border-gray-300 focus:outline-none focus:border-indigo-500"
                    type="text"
                    placeholder="Search"
                />
                <div class="absolute inset-y-0 right-0 flex items-center pl-3">
                    <button><Icon icon="ion:search"/></button>
                </div>
            </div>

            <div class="flex space justify-between items-center">
                <div class="p-2 w-40 bg-blue-200 border border-blue-300 rounded hover:bg-blue-300 cursor-pointer text-center">Tambah</div>
                <div class="p-2 w-40 bg-orange-200 border border-orange-300 rounded hover:bg-orange-300 cursor-pointer text-center">Download Format</div>
                <div class="p-2 w-40 bg-blue-200 border border-blue-300 rounded hover:bg-blue-300 cursor-pointer text-center">Import Kontak</div>
            </div>
        </div>


        <table class="table-auto mt-10 w-full">
          <thead>
              <tr>
                  <th class="border px-4 py-2">No</th>
                  <th class="border px-4 py-2">Nomor Kontak Target</th>
                  <th class="border px-4 py-2">Status</th>
                  <th class="border px-4 py-2">Aksi</th>
              </tr>
          </thead>
          <tbody>
          <tr v-for="(dummy, index) in dummys" :key="index">
              <td class="border px-4 py-2 w-12 text-center">{{ dummy.no }}</td>
              <td class="border px-4 py-2 text-center">{{ dummy.nama }}</td>
              <td class="border px-4 py-2 text-center">{{ dummy.nama }}</td>
              <td class="border px-4 py-2 w-52">
                  <div class="flex justify-between">
                      <router-link to="/" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                          Detail
                      </router-link>
                      <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                          Hapus
                      </button>
                  </div>
              </td>
          </tr>
          </tbody>
      </table>

      <PaginationProps :current-page="currentPage" :total-items="totalItems" @page-changed="onPageChanged"/>
        
    </div>
    <div v-else>
        Loading
    </div>
</template>

<script>
    import axios from 'axios';
    import { Icon } from '@iconify/vue'
    import PaginationProps from '../../components/Pagination.vue'

    export default {
        name: 'DetailContac',
        components: {
            Icon,
            PaginationProps,
        },
        props: {
            id: {
                type: String,
                required: true
            }
        },
        data(){
            return {
                isValid: false,
                product: null,
                currentPage: 1,
                totalItems: 5,
                isRunning: false,
                dummys: [
                    {no: 1, nama: 'agus'},
                    {no: 2, nama: 'agus'},
                    {no: 3, nama: 'agus'},
                    {no: 4, nama: 'agus'},
                    {no: 5, nama: 'agus'},
                ]
            }
        },
        created(){
            this.fetchProduct(this.id)
        },
        methods: {
            async fetchProduct(id){
                let url = "https://apis.ruang-ekspresi.id/fipex";
                try {
                    const response = await axios.get(`${url}/products/${id}/detail`)
                    this.product = response.data
                }catch (e){
                    console.log(e)
                }
            },

            onPageChanged(newPage) {
                this.currentPage = newPage;
                console.log(this.showModal)
            },

            runForm(){
                if(!this.isRunning){
                    this.isRunning = true;
                }else{
                    this.isRunning = false;
                }
                console.log(this.isRunning)
            }
        }
    }
</script>

<style scoped>
    .space {
        width: 500px;
    }
</style>