<template>
    <div class="pt-10 pb-24 px-28">
        <div class="flex w-full justify-between items-center">
            <div class="flex">
                <h1 class="pr-2 text-lg">Form</h1>
                <h1 class="pr-2 text-lg font-bold">> Detail Form</h1>
            </div>
            <div>
                <button 
                    @click="runForm" 
                    type="submit" 
                    class="bg-blue-300 border border-blue-400 rounded hover:bg-blue-400 w-32 py-2"
                    :class="{'bg-red-300 border border-red-400 rounded hover:bg-red-400 w-32 py-2' : !dataDetail.is_active}"
                >
                    {{ !dataDetail.is_active ? "Stop" : "Mulai" }}
                </button>
            </div>
        </div>

        <div class="border border-gray-600 p-4 my-4">
            <h1 class="text-lg font-bold mb-10">Informasi Kontak</h1>
            <div class="flex px-4 justify-between w-full">
                <div class="space px-2">
                    <div class="flex flex-wrap justify-between mb-5">
                        <h3 class="text-lg">Nama Form</h3>
                        <h3>: {{ dataDetail.goal }}</h3>
                    </div>
                    <div class="flex flex-wrap justify-between mb-5">
                        <h3 class="text-lg">Jumlah Target Valid</h3>
                        <h3>: {{ dataDetail.targets }}</h3>
                    </div>
                    <div class="flex flex-wrap justify-between mb-5">
                        <h3 class="text-lg">Channel</h3>
                        <h3>: {{ responsesDetail[0].channel }}</h3>
                    </div>
                </div>
                <div class="space px-2 mb-5">
                    <div class="flex flex-wrap justify-between mb-5">
                        <h3 class="text-lg">Status</h3>
                        <h3>: {{ responsesDetail[0].status }}</h3>
                    </div>
                    <div class="flex flex-wrap justify-between mb-5">
                        <h3 class="text-lg">Ketercapaian</h3>
                        <h3>: {{  }}</h3>
                    </div>
                    <div class="flex flex-wrap justify-between mb-5">
                        <h3 class="text-lg">Expired</h3>
                        <h3>: {{  }}</h3>
                    </div>
                </div>
            </div>
            <div class="flex w-full justify-center">
                <div class="flex w-3/4 justify-between py-5">
                    <div class="w-28">
                        <div class="flex text-5xl font-bold bg-green-100 border border-green-400  h-24 items-center justify-center">800</div>
                        <div class="flex text-2xl font-bold bg-green-100 border border-green-400 px-2 h-12 items-center justify-center">Success</div>
                    </div>
                    <div class="w-28">
                        <div class="flex text-5xl font-bold bg-orange-100 border border-orange-400 px-2 h-24 items-center justify-center">800</div>
                        <div class="flex text-2xl font-bold bg-orange-100 border border-orange-400 px-2 h-12 items-center justify-center">Running</div>
                    </div>
                    <div class="w-28">
                        <div class="flex text-5xl font-bold bg-red-100 border border-red-400 px-2 h-24 items-center justify-center">800</div>
                        <div class="flex text-2xl font-bold bg-red-100 border border-red-400 px-2 h-12 items-center justify-center">Failed</div>
                    </div>
                    <div class="w-28">
                        <div class="flex text-5xl font-bold bg-blue-100 border border-blue-400 px-2 h-24 items-center justify-center">800</div>
                        <div class="flex text-2xl font-bold bg-blue-100 border border-blue-400 px-2 h-12 items-center justify-center">Pending</div>
                    </div>
                </div>            
            </div>
        </div>

        <div class="flex justify-between mb-4">
            <div class="space flex justify-between items-center">
                <div @click="statusFilter = 'all'" class="bg-gray-200  p-2 rounded-full w-24 justify-center flex cursor-pointer" :class="{'bg-white border border-blue-500  p-2 rounded-full w-24 justify-center flex cursor-pointer' : statusFilter === 'all'}"> Semua</div>
                <div @click="statusFilter = 'complete'" class="bg-gray-200  p-2 rounded-full w-24 justify-center flex cursor-pointer" :class="{'bg-white border border-blue-500  p-2 rounded-full w-24 justify-center flex cursor-pointer' : statusFilter === 'complete'}">Success</div>
                <div @click="statusFilter = 'running'" class="bg-gray-200  p-2 rounded-full w-24 justify-center flex cursor-pointer" :class="{'bg-white border border-blue-500  p-2 rounded-full w-24 justify-center flex cursor-pointer' : statusFilter === 'running'}">Running</div>
                <div @click="statusFilter = 'failed'" class="bg-gray-200  p-2 rounded-full w-24 justify-center flex cursor-pointer" :class="{'bg-white border border-blue-500  p-2 rounded-full w-24 justify-center flex cursor-pointer' : statusFilter === 'failed'}">Failed</div>
                <div @click="statusFilter = 'pending'" class="bg-gray-200  p-2 rounded-full w-24 justify-center flex cursor-pointer" :class="{'bg-white border border-blue-500  p-2 rounded-full w-24 justify-center flex cursor-pointer' : statusFilter === 'pending'}">Pending</div>
            </div>
            <div class="flex text-center">
                <div class="p-2 w-40 bg-orange-200 border border-orange-300 rounded hover:bg-orange-300 cursor-pointer">Download Hasil</div>
            </div>
        </div>
      <table class="table-auto w-full">
          <thead>
              <tr>
                  <th class="border border-gray-400">No</th>
                  <th class="border border-gray-400">Target</th>
                  <th class="border border-gray-400">Status</th>
                  <th class="border border-gray-400 ">Aksi</th>
              </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in displayedData" :key="index">
                <td class="border border-gray-400 text-center w-16">{{ index }}</td>
                <td class="border border-gray-400 text px-2">{{ item.user_id }}</td>
                <td class="border border-gray-400 w-40 text-center">{{ item.status }}</td>
                <td class="border border-gray-400 w-40 py-2">
                    <div class="flex justify-around">
                        <button @click="showEditModal" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                            Detail
                        </button>
                    </div>
                </td>
                <ModalScreen :show="isShowModal" :add="isAdd ? true : false" @close="closeEdit"></ModalScreen>
            </tr>
          </tbody>
      </table>
  
      <ul class="flex justify-end mt-4">
        <li class="border border-gray-400 rounded-l-lg">
          <button
            :disabled="currentPage === 1"
            @click="currentPage--"
            class="px-4 py-2  hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-300 focus:ring-offset-2"
          >
            Previous
          </button>
        </li>
        <li class="border border-gray-400" v-for="page in pages" :key="page">
          <button
            :class="[
              'px-4 py-2 ',
              { 'bg-blue-500 text-white': page === currentPage, '  hover:bg-gray-100': page !== currentPage }
            ]"
            @click="currentPage = page"
            :disabled="page === currentPage"
            class="focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-offset-2"
          >
            {{ page }}
          </button>
        </li>
        <li class="border border-gray-400 rounded-r-lg">
          <button
            :disabled="currentPage === totalPages"
            @click="currentPage++"
            class="px-4 py-2 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-300 focus:ring-offset-2"
          >
            Next
          </button>
        </li>
      </ul>
  
      
    </div>
  </template>
  
  <script>
  import axios from 'axios';
//   import { Icon } from '@iconify/vue'
  import ModalScreen from '@/components/ModalScreen.vue';
  
  export default {
    name: 'FormDetail',
    components: {
    //   Icon,
      ModalScreen
    },
    props: {
        id: {
            type: String,
            required: true
        },
        responsesIndex: {
            type: Number
        }
    },
    data() {
      return {
        data: [],
        dataDetail:[],
        responses: [],
        responsesDetail: [],
        currentPage: 1,
        statusFilter: 'all',
        itemsPerPage: 10,
        isValid: false,
        isShowModal: false,
        isAdd: false,
      };
    },
    computed: {
        totalPages() {
            return Math.ceil(this.data.length / this.itemsPerPage);
        },
        pages() {
            let pages = [];
            const maxPages = 5; // Limit to 5 pages
            let startPage = 1;
            let endPage = this.totalPages;
            if (this.totalPages > maxPages) {
                const middlePage = Math.floor(maxPages / 2);
                startPage = Math.max(this.currentPage - middlePage, 1);
                endPage = Math.min(startPage + maxPages - 1, this.totalPages);
            if (endPage - startPage < maxPages) {
                startPage = endPage - maxPages + 1;
            }
            }
            for (let i = startPage; i <= endPage; i++) {
                pages.push(i);
            }
            return pages;
        },
        displayedData() {
            let filteredData = this.responsesDetail;
            if (this.statusFilter !== 'all') {
                filteredData = filteredData.filter(item => item.status === this.statusFilter);
            }
            let startIndex = (this.currentPage - 1) * this.itemsPerPage;
            let endIndex = startIndex + this.itemsPerPage;
            return filteredData.slice(startIndex, endIndex);
        },
        
    },
    mounted() {
      axios.get('https://backend-interview-bot.vercel.app/api/v1/forms',{
        headers:{
          'Access-Control-Allow-Origin': 'http://localhost:8080',
        }
      })
        .then(response => {
          this.data = response.data;
          this.responses = response.data.flatMap(item => item.responses);
        })
        .catch(error => {
          console.log(error);
        });
    },
    created(){
        this.fetchData(this.id)
    },
    methods: {
        print(item){
            console.log(item)
        },

        fetchData(id){
            axios.get(`https://backend-interview-bot.vercel.app/api/v1/forms/${id}`,{
                headers:{
                'Access-Control-Allow-Origin': 'http://localhost:8080',
                }
            })
            .then(response => {
                this.dataDetail = response.data;
                this.responsesDetail = response.data.responses;
                })
            .catch(error => {
                console.log(error);
            });
        },

        displayStatus(status){
            if(this.statusFilter !== 'all'){
                return this.statusFilter = status;
            } else {
                console.log(status)
                return this.statusFilter = 'all';
            }
        },

        runForm(){
            if(this.dataDetail.is_active){
                this.dataDetail.is_active = false
            }else {
                this.dataDetail.is_active = true
            }
        },
        showAddModal(){
          this.isShowModal = true;
          this.isAdd = true;
        },
        showEditModal(){
          this.isShowModal = true;
          this.isAdd = true;
        },
        closeEdit(){
            this.isShowModal = false
        }
    }
  };
  </script>
  
  <style>
  /* Optional custom styles here */
  .space{
    width: 600px;
  }
  </style>
  