<template>
    <div v-if="product" class="min-h-screen bg-white py-10 px-24">
        <div class="flex w-full justify-between items-center">
            <div class="flex">
                <h1 class="pr-2 text-lg">Form</h1>
                <h1 class="pr-2 text-lg font-bold">> Detail Form</h1>
            </div>
            <div>
                <button 
                    @click="runForm" 
                    type="submit" 
                    class="bg-blue-300 border border-blue-400 rounded hover:bg-blue-400 w-32 py-2"
                    :class="{'bg-red-300 border border-red-400 rounded hover:bg-red-400 w-32 py-2' : isRunning}"
                >
                    {{ isRunning ? "Stop" : "Mulai" }}
                </button>
            </div>
        </div>
        
        <div class="border border-gray-600 p-4 my-4">
            <h1 class="text-lg font-bold mb-5">Informasi Form</h1>
            <div class="flex px-4 justify-between w-full">
                <div class="space px-2">
                    <div class="flex flex-wrap justify-between">
                        <h3>Nama Form</h3>
                        <h3>: {{ product.name }}</h3>
                    </div>
                    <div class="flex flex-wrap justify-between">
                        <h3>Jumlah Target Valid</h3>
                        <h3>: {{ product.name }}</h3>
                    </div>
                    <div class="flex flex-wrap justify-between">
                        <h3>Channel</h3>
                        <h3>: {{ product.name }}</h3>
                    </div>
                </div>
                <div class="space px-2">
                    <div class="flex flex-wrap justify-between">
                        <h3>Status</h3>
                        <h3>: {{ product.name }}</h3>
                    </div>
                    <div class="flex flex-wrap justify-between">
                        <h3>Ketercapaian</h3>
                        <h3>: {{ product.name }}</h3>
                    </div>
                    <div class="flex flex-wrap justify-between">
                        <h3>Kadaluarsa</h3>
                        <h3>: {{ product.name }}</h3>
                    </div>
                </div>
            </div>
            <div class="flex w-auto justify-between py-10 px-2">
                <div class="">
                    <div class="flex text-5xl font-bold bg-green-100 border border-green-400  h-24 items-center justify-center">800</div>
                    <div class="flex text-2xl font-bold bg-green-100 border border-green-400 px-2 h-12 items-center justify-center">Success</div>
                </div>
                <div class="">
                    <div class="flex text-5xl font-bold bg-orange-100 border border-orange-400 px-2 h-24 items-center justify-center">800</div>
                    <div class="flex text-2xl font-bold bg-orange-100 border border-orange-400 px-2 h-12 items-center justify-center">Running</div>
                </div>
                <div class="">
                    <div class="flex text-5xl font-bold bg-red-100 border border-red-400 px-2 h-24 items-center justify-center">800</div>
                    <div class="flex text-2xl font-bold bg-red-100 border border-red-400 px-2 h-12 items-center justify-center">Failed</div>
                </div>
                <div class="">
                    <div class="flex text-5xl font-bold bg-blue-100 border border-blue-400 px-2 h-24 items-center justify-center">800</div>
                    <div class="flex text-2xl font-bold bg-blue-100 border border-blue-400 px-2 h-12 items-center justify-center">Pending</div>
                </div>
            </div>
        </div>

        <div class="flex justify-between">
            <div class="space flex justify-between items-center">
                <div class="bg-gray-200  p-2 rounded-full w-24 justify-center flex cursor-pointer">Semua</div>
                <div class="bg-gray-200  p-2 rounded-full w-24 justify-center flex cursor-pointer">Success</div>
                <div class="bg-gray-200  p-2 rounded-full w-24 justify-center flex cursor-pointer">Running</div>
                <div class="bg-gray-200  p-2 rounded-full w-24 justify-center flex cursor-pointer">Failed</div>
                <div class="bg-gray-200  p-2 rounded-full w-24 justify-center flex cursor-pointer">Pending</div>
            </div>
            <div class="flex text-center">
                <div class="p-2 w-40 bg-orange-200 border border-orange-300 rounded hover:bg-orange-300 cursor-pointer">Download Format</div>
            </div>
        </div>

        <table class="table-auto mt-10 w-full">
          <thead>
              <tr>
                  <th class="border px-4 py-2">Topik</th>
                  <th class="border px-4 py-2">Grup Kontak</th>
                  <th class="border px-4 py-2">Jumlah kontak</th>
                  <th class="border px-4 py-2">Expired</th>
                  <th class="border px-4 py-2">Status</th>
                  <th class="border px-4 py-2">Aksi</th>
              </tr>
          </thead>
          <tbody>
          <tr v-for="(dummy, index) in dummys" :key="index">
              <td class="border px-4 py-2">{{ dummy.nama }}</td>
              <td class="border px-4 py-2">{{ dummy.nama }}</td>
              <td class="border px-4 py-2">{{ dummy.nama }}</td>
              <td class="border px-4 py-2">{{ dummy.nama }}</td>
              <td class="border px-4 py-2">{{ dummy.nama }}</td>
              <td class="border px-4 py-2 w-40">
                  <div class="flex justify-center">
                      <router-link to="/" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                          Detail
                      </router-link>
                  </div>
              </td>
          </tr>
          </tbody>
      </table>

        
    </div>
    <div v-else>
        Loading
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        name: 'FormDetail',
        props: {
            id: {
                type: String,
                required: true
            }
        },
        data(){
            return {
                product: null,
                isRunning: false,
                dummys: [
                    {nama: 'agus'},
                    {nama: 'agus'},
                    {nama: 'agus'},
                    {nama: 'agus'},
                    {nama: 'agus'},
                ]
            }
        },
        created(){
            this.fetchProduct(this.id)
        },
        methods: {
            async fetchProduct(id){
                let url = "https://apis.ruang-ekspresi.id/fipex";
                try {
                    const response = await axios.get(`${url}/products/${id}/detail`)
                    this.product = response.data
                }catch (e){
                    console.log(e)
                }
            },

            runForm(){
                if(!this.isRunning){
                    this.isRunning = true;
                }else{
                    this.isRunning = false;
                }
                console.log(this.isRunning)
            }
        }
    }
</script>

<style scoped>
    .space {
        width: 500px;
    }
</style>